@model IEnumerable<Coffee>

<h2>Coffee</h2>
<div style="display: block">
    <a href="/Coffee/InsertCoffee/">Create a New Coffee</a>
</div>

    <table class="table">
    <style>
        body {
            background-image: url("https://spanishsabores.com/wp-content/uploads/2023/09/Cafe-con-Leche-Featured-2.jpg");
            background-size: 100% 100% ;
            color: hotpink;
            font-family: cursive
        }
    </style>
        <tr>
            <th>CoffeeID</th>
            <th>Cafe</th>
            <th>Location</th>
            <th>Late_Night_Spots</th>
            <th>Starting_Price</th>
            <th>Ambience</th>
            <th>Wifi</th>
            <th>Tipping</th>
            <th>Featured_Cafe</th>
            <th>Photo</th>
            <th>Description</th>
        </tr>

        @foreach (var coffee in Model)
        {
            <tr>

                @* <td><a href=/Coffee/ViewCoffee/@coffee.CoffeeID>@coffee.CoffeeID</a></td> *@
                <td>
                    <a asp-action="ViewCoffee" asp-route-id="@coffee.CoffeeID">@coffee.CoffeeID</a>
                </td>
                <td>@coffee.Cafe</td>
                <td>@coffee.Location</td>
                <td>@coffee.Late_Night_Spots</td>
                <td>@coffee.Starting_Price</td>
                <td>@coffee.Ambience</td>
                <td>@coffee.Wifi</td>
                <td>@coffee.Tipping</td>
                <td>@coffee.Featured_Cafe</td>
                @* <td>@coffee.Photo</td> *@
                <td>
                    <img width="150" height="150" src="~/Images/@coffee.Photo" />
                </td>

                <td>@coffee.Description</td>
            </tr>

        }
    </table>

