@model Coffee

<h3>@Model.Cafe Information</h3>


<table class="table">
    <tr>
        <th>CoffeeID</th>
        <th>Cafe</th>
        <th>Location</th>
        <th>Late_Night_Spots</th>
        <th>Starting_Price</th>
        <th>Ambience</th>
        <th>Wifi</th>
        <th>Tipping</th>
        <th>Featured_Cafe</th>
    </tr>
    <tr>
        <td>@Model.CoffeeID</td>
        <td>@Model.Cafe</td>
        <td>@Model.Location</td>
        <td>@Model.Late_Night_Spots</td>
        <td>@Model.Starting_Price</td>
        <td>@Model.Ambience</td>
        <td>@Model.Wifi</td>
        <td>@Model.Tipping</td>
        <td>@Model.Featured_Cafe</td>
    </tr>

</table>


<div style="display: block">
    <a href="/Coffee/UpdateCoffee/@Model.CoffeeID">Update this Coffee</a>
</div>

<div style="display: block">
    @using (Html.BeginForm("DeleteCoffee", "Coffee", "Post"))
    {
        <input type="hidden" asp-for="CoffeeID" value="@Model.CoffeeID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this coffee" />
    }
</div>

